.list__container {
  margin: 0 auto;
  width:100%;
  max-width:900px;
  padding: 0 2em 2em;
  position:relative;

  p {
    text-align: center;
  }

  ul {
    align-content: center;
    align-items: center;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;

    @media (min-width: 425px) {
      grid-template-columns: repeat(2,1fr);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(4,1fr);
    }
    
  }

  .list__up{
    background: #2879fe;
    border-radius:50%;
    color:white;
    height: 40px;
    width:40px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    cursor:pointer;
    right: 3px;
    bottom: 25px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}